@model SpendingComparison.Models.StandardSpending

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StandardSpending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CalendarYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalendarYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groceries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groceries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantsAndDining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantsAndDining)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentOrMortgage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentOrMortgage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseholdEquipment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseholdEquipment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clothing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clothing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gasoline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gasoline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthCare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthCare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entertainment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entertainment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StandardSpendingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
