@model SpendingComparisonV0_1.Models.StatisticalSupport.IncomeRange

@{
    ViewBag.Title = "Spending Comparison";
}

<h2>Details</h2>

<div>
    <h4>Income Range</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BottomIncomeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BottomIncomeRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopIncomeRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopIncomeRange)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncomeRangeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
