@model IEnumerable<SpendingComparisonV0_1.Models.SpendingModels.StandardSpending>

@{
    ViewBag.Title = "Index";
}

<h2>Standard Spending Models</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CalendarYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantsAndDining)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Groceries)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RentOrMortgage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricAndGas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CalendarYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantsAndDining)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Groceries)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RentOrMortgage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ElectricAndGas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StandardSpendingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StandardSpendingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StandardSpendingID })
        </td>
    </tr>
}

</table>
